<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Độ rộng trong responsive</title>
</head>

<body>
    <style>
        #wrapper {
            /* width: 960px */
            max-width: 960px;
            margin: 0 auto;
        }
    </style>
    <div id="wrapper">
        <h1>Độ rộng trong responsive</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda veniam, unde est praesentium in commodi
            illo ratione voluptatibus quisquam perferendis voluptatem eum repellat laudantium numquam asperiores ipsam
            impedit vel facilis.</p>
        <p>Enim laboriosam culpa saepe, eligendi, aliquam corrupti optio id voluptates, possimus a accusamus. Dolore,
            possimus, cumque pariatur cum, dolores repudiandae suscipit veritatis perspiciatis nobis magni ut quasi
            ullam quaerat esse!</p>
        <p>Odit quasi deleniti laboriosam tempora ad pariatur, enim sit laudantium rerum, eligendi delectus suscipit?
            Quos, recusandae! Suscipit ab, eveniet delectus dignissimos, ea ex sed quo esse, et veniam vero illum?</p>
        <p>Asperiores fugiat enim sunt odit aut natus ab delectus expedita maiores quod obcaecati, a non nam maxime
            porro, corporis itaque in dignissimos officia laborum esse. Natus nostrum harum deserunt perspiciatis!</p>
    </div>
</body>

</html>