* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #333;
}

.container {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 10px;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#logo img {
    width: 48px;
    height: auto;
    margin-right: 10px;
}

#logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu {
    list-style: none;
    padding-left: 0;
}

.menu li a {
    display: block;
    padding: 0px 10px;
    color: #a7a7a7;
    text-decoration: none;
}

.menu li:hover a {
    color: #cecccc;
}

#pc-menu {
    display: flex;
    justify-content: space-between;
}

#download {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078d4;
    color: white;
    height: 68px;
    padding: 15px;
    cursor: pointer;
}

#download:hover {
    background-color: #005799;
}

#download svg {
    width: 24px;
}

#mobile-toggle,
#mobile-menu {
    display: none;
}

@media (max-width: 767.98px) {

    #pc-menu,
    #download {
        display: none;
    }

    #mobile-toggle {
        display: block;
    }

    #mobile-toggle svg {
        width: 24px;
        color: white;
    }

    #mobile-menu ul li {
        padding: 10px;
    }
}