body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}

#wrapper {
    width: 960px;
    margin: 0px auto;
}

#footer {
    background: #029ef3;
}

#logo {
    font-size: 24px;
    text-align: center;
    display: block;
    padding: 20px 10px;
    font-weight: bold;
}

#header {
    position: relative;
}

#user_login {
    position: absolute;
    right: 10px;
    top: 10px;
}

ul#main-menu {
    text-align: center;
    background: #029ef3;
}

ul#main-menu li {
    display: inline-block;
}

ul#main-menu li a {
    padding: 8px 15px;
    color: white;
    display: block;
}

#content {
    min-height: 600px;
    padding: 20px 0px;
}

#footer {
    color: white;
    text-align: center;
    padding: 20px 0px;
}